Unity/Temp/*
Unity/Library/*
Unity/Assets/StreamedSceneBundles/*
Unity/Assets/StreamedSceneBundles.meta
build/*

*.sln
*.userprefs
*.pidb
*.booproj
*.csproj
*.unityproj
.DS_Store
*.DS_Store
*.orig
*.orig.meta


!*.gitignore
!Unity/Library/EditorSettings.asset
!Unity/Library/EditorBuildSettings.asset
!Unity/Library/InputManager.asset
!Unity/Library/ProjectSettings.asset
!Unity/Library/QualitySettings.asset
!Unity/Library/TagManager.asset
!Unity/Library/TimeManager.asset
!Unity/Library/AudioManager.asset
!Unity/Library/DynamicsManager.asset
!Unity/Library/NetworkManager.asset

Unity/screenshot.png
Unity/build_log.txt

*.sw*
!*.swf

Unity/Assets/Ad-Dispatch/Resources/uiscenes.txt
*.apk
